example-projects/cpp/samples/GrabImage_VS2013.opensdf
example-projects/cpp/GrabImage_OpenCV/x64/Debug/opencv_world4110d.dll


*.pyc
/.vscode

*.opensdf
/example-projects/cpp/GrabImage_OpenCV/x64
/example-projects/cpp/GrabImage_OpenCV/Win32
/example-projects/cpp/GrabImage_OpenCV/.vs

