# General
*.pyc
/.vs
/.vscode

# C++ specific
*.opensdf
/example-projects/cpp/GrabImage_OpenCV/x64
/example-projects/cpp/GrabImage_OpenCV/Win32
/example-projects/cpp/GrabImage_OpenCV/.vs
example-projects/cpp/GrabImage_OpenCV/GrabImage_VS2013.sdf


# C# specific
/example-projects/csharp/GrabImage_OpenCV/GrabImage
/example-projects/cpp/GrabImage_OpenCV/.vs
/example-projects/cpp/GrabImage_OpenCV/packages
